@charset "utf-8";
.content .register-btn {
	background: #ffc901;
	color: #000;
	display: block;
	vertical-align: middle;
	max-width: 400px;
	width: 100%;
	height: 47px;
	text-align: center;
	line-height: 47px;
	font-size: 16px;
	font-family: 'avantgardecedemi';
	margin: 20px auto;
}
[data-fordevice] {
	display: none;
}
@media (min-width: 751px) {
	.banner {
		background: #0c1526;
		text-align: center;
	}
	.banner .banner-img {
		display: block;
		background-image: url(../images/commission/banner.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto 100%;
		height: 280px;
		width: 100%;
	}
	[data-fordevice="pc"] {
		display: block;
	}
}
@media (max-width: 750px) {
	.banner {
		display: none;
	}
	[data-fordevice="mobile"] {
		display: block;
		text-align: center;
	}
}